.about-item-container {
    opacity: 1;
    transition: opacity 0.6s ease;
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin: 0 auto;
    border-bottom: 1px solid var(--main-font-color);
}

.about-item-container:last-child {
    padding: 0 1em;
    border-bottom: none;
}

.about-item-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    height: auto;
    margin-bottom: 1em;
}

.about-item-title {
    color: var(--message-font-color);
    font-size: var(--number-list-font-size);
    font-size: 1.2em;
}

.about-item-header-desc {
    font-weight: normal;
    font-style: italic;
    text-align: justify;
    margin-bottom: 0.5em;
}

.about-item-desc-container {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-desc-item {
    width: 95%;
}

.about-desc-sub-header {
    width: 100%;
    color: var(--message-font-color);
    font-size: var(--sub-title-font-size);
    border-bottom: 1px solid var(--message-font-color);
    margin: 1em 0 0.5em 0;
}

.about-desc-sub-header:first-child {
    margin: 0 0 0.5em 0;
}

.about-sub-desc {
    width: 95%;
    color: var(--sub-font-color);
    font-size: var(--text-font-size);
    font-weight: 400;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    margin-right: 1em;
    text-align: justify;
}

@media screen and (min-width: 640px) {
    .about-item-container {
        max-width: 1000px;
        overflow: auto;
    }

    .about-item-header {
        width: 90%;
    }

    .about-item-title {
        font-size: var(--title-font-size);
        width: 90%;
    }

    /* 
    .about-item-header-desc {
        width: 80%;
    } */

    .about-item-desc-container {
        width: 90%;
    }

    .about-desc-sub-header {
        font-size: var(--number-list-font-size);
        width: 100%;
    }

    .about-sub-desc {
        color: var(--sub-font-color);
        font-size: var(--text-font-size);
        font-weight: 400;
        margin-bottom: 0.5em;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
}

@starting-style {
    .about-item-container {
        max-width: 1000px;
        opacity: 0;
    }
}