.how-to-use-container {
    opacity: 1;
    transition: opacity 0.6s ease;
    width: 100%;
    height: calc(100vh - var(--header-height) - var(--footer-height));
    background: linear-gradient(90deg, var(--background-color1), var(--background-color2));
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.how-to-use-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    height: auto;
    margin-bottom: 1em;
}

.how-to-title {
    color: var(--message-font-color);
    font-size: var(--number-list-font-size);
    font-size: 1.2em;
}

.how-to-header-desc {
    font-weight: normal;
    font-style: italic;
}

.how-to-desc-container {
    height: 95%;
    width: 95%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.how-to-desc-item {
    width: 95%;
}

.how-to-sub-header {
    width: 100%;
    color: var(--message-font-color);
    font-size: var(--sub-title-font-size);
    border-bottom: 1px solid var(--message-font-color);
    margin: 1em 0 0.5em 0;
}

.how-to-sub-header:first-child {
    margin: 0 0 0.5em 0;
}

.how-to-desc {
    width: 95%;
    color: var(--sub-font-color);
    font-size: var(--text-font-size);
    font-weight: 400;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    margin-right: 1em;
    text-align: justify;
}

@media screen and (min-width: 640px) {
    .how-to-use-container>div {
        max-width: 1000px;
        overflow: auto;
    }

    .how-to-use-header {
        width: 90%;
        height: 3em
    }

    .how-to-title {
        font-size: var(--title-font-size);
        width: 90%;
    }

    .how-to-desc-container {
        width: 90%;
    }

    .how-to-sub-header {
        font-size: var(--number-list-font-size);
        width: 100%;
    }

    .how-to-desc {
        color: var(--sub-font-color);
        font-size: var(--text-font-size);
        font-weight: 400;
        margin-bottom: 0.5em;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
}

@starting-style {
    .how-to-use-container {
        opacity: 0;
    }
}