:root {
  --background-color1: rgb(4, 41, 32);
  --background-color2: rgb(7, 88, 75);
  --main-font-color: wheat;
  --sub-font-color: ghostwhite;
  --line-color: rgba(248, 248, 255, 0.8);
  --main-font-shadow-color: rgb(4, 41, 32);
  --font-shadow-color: rgb(102, 96, 16);
  --select-border-color: rgba(144, 238, 144, 0.678);
  --main-button-color: rgb(171, 248, 216);
  --main-button-font-color: rgb(2, 68, 41);
  --secondary-button-color: rgb(220, 180, 90);
  --secondary-button-font-color: rgb(80, 30, 10);
  --secondary-button-hover-color: rgb(170, 130, 40);
  --secondary-button-hover-font-color: rgb(250, 220, 180);
  --secondary-button-active-color: rgb(210, 160, 70);
  --main-button-hover-color: rgb(2, 68, 41);
  --main-button-hover-font-color: rgb(171, 248, 216);
  --main-button-active-color: rgb(20, 206, 150);
  --third-color: rgba(50, 150, 50, 0.2);
  --third-color-hover: rgba(50, 150, 50, 0.4);
  --fourth-color: rgba(170, 120, 30, 0.6);
  --fourth-color-hover: rgba(170, 120, 30, 0.8);
  --gold-metallic-color: linear-gradient(75deg, #fcd68b 0%, #faf5c4 25%, #f5d389 50%, #f7f1b1 75%, #fad38f 100%);
  --select-option-color: black;
  --message-font-color: wheat;
  --message-background-color: rgba(1, 26, 13, 0.9);
  --how-to-background-color: rgba(1, 26, 13, 1);
  --text-font-size: 0.9em;
  --sub-title-font-size: 0.9em;
  --title-font-size: 1.5em;
  --number-list-font-size: 1em;
  --main-number-font-size: 2.5em;
  --detail-btn-font-size: 0.7em;
  --arabic-text-font-size: 1.8em;
  --main-element-width: 95%;
  --main-element-margin: 0 0 0.3em 0;
  --header-height: 100px;
  --input-section-height: 100px;
  --display-section-height: 150px;
  --footer-height: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, var(--background-color1), var(--background-color2));
  font-family: Arial, Helvetica, sans-serif;
  color: var(--sub-font-color);
  font-weight: bold;
  text-align: center;
  width: 100%;
  max-width: 500px;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

.main {
  width: 100%;
  height: calc(100vh - var(--header-height) - var(--footer-height));
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 0;
  padding: 0 0 0.5em 0;
}

section {
  width: var(--main-element-width);
  margin: var(--main-element-margin);
}

.input-section {
  opacity: 1;
  transition: opacity 0.6s ease;
  height: var(--input-section-height);
}

.display-section {
  opacity: 1;
  transition: opacity 1.2s ease;
  height: var(--display-section-height);
}

.detail-section {
  opacity: 1;
  transition: opacity 1.8s ease;
  height: calc(100% - var(--input-section-height) - var(--display-section-height));
}

.version {
  font-size: 0.5em;
  color: var(--sub-font-color)
}

.sub-title-row {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 0.5em;
}

.sub-title-row>span {
  width: 40%;
  font-size: 0.8em;
  color: var(--main-font-color);
  text-align: right;
}

.sub-title {
  margin: 0 auto 0.3em auto;
  font-size: var(--sub-title-font-size);
  text-align: left;
  width: stretch;
  padding: 0 0 0 0.5em;
  justify-self: start;
}

p {
  font-size: var(--text-font-size);
}

option {
  color: var(--select-option-color);
}

.main-btn {
  background: var(--main-button-color);
  transition: 0.3s ease;
  color: var(--main-button-font-color);
  font-size: var(--text-font-size);
  min-width: 7em;
  font-weight: bold;
  border: 0;
  border-radius: 20px;
  padding: 0.7em 1em;
}

.main-btn:active {
  background: var(--main-button-active-color);
}

.main-btn.gold {
  background: var(--gold-metallic-color);
  color: var(--background-color1);
}

.main-btn.gold:active {
  background: var(--gold-metallic-color);
  color: var(--background-color2);
}

.main-btn.disabled {
  background-color: var(--line-color);
  color: var(--sub-font-color);
  cursor: not-allowed;
}

.message {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: calc(40.5% - 25px);
  left: calc(50% - 100px);
  width: 200px;
  height: 50px;
  color: var(--message-font-color);
  background-color: var(--message-background-color);
  border-radius: 50px;
  font-weight: normal;
}

.span-ref {
  height: 2em;
}

.footer {
  height: var(--footer-height);
  border-top: 1px solid var(--line-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.copyright {
  font-size: 0.8em;
  font-weight: 400;
}

@media screen and (max-height: 600px) {
  body {
    width: 100%;
    max-width: 500px;
    height: 100vh;
    position: relative;
    font-size: 0.8em;
    overflow-y: hidden;
  }

  .main {
    height: 100%;
  }

  .detail-section {
    height: 100%;
  }

  select {
    font-size: 0.8em;
  }
}

@media screen and (min-width: 640px) {
  body {
    max-width: 1500px;
  }

  .main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1000px;
    height: calc(100vh - var(--footer-height) - var(--header-height));
    margin: 0 auto;
    padding-bottom: 1em;
    align-items: start;
    justify-content: center;
    gap: 10px;
  }

  section {
    min-width: 300px;
    width: calc(45vw - 10px);
    max-width: 500px;
  }

  .input-section {
    grid-area: input;
    margin: 0;
  }

  .display-section {
    grid-area: display;
    height: calc(100% - var(--input-section-height) - 1em);
    margin: 0;
    justify-self: start;
  }

  .detail-section {
    grid-area: detail;
    height: 100%;
    margin: 0;
  }

  .main-btn:hover {
    background: var(--main-button-hover-color);
    color: var(--main-button-hover-font-color);
    cursor: pointer;
  }

  .main-btn:active {
    background: var(--main-button-active-color);
  }

  .main-btn.gold:hover {
    background: var(--gold-metallic-color);
    color: var(--fourth-color);
    transform: scale(105%);
    transition: 50ms ease-in-out;
  }

  .main-btn.gold:active {
    background: var(--gold-metallic-color);
    color: var(--background-color2);
  }
}

@starting-style {
  .input-section {
    opacity: 0;
  }

  .display-section {
    opacity: 0;
  }

  .detail-section {
    opacity: 0;
  }
}